body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header{
    display: flex;
    background-color: #808080;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

}

nav ul{
    list-style: none;
    padding: 0;
}

nav li{
    display: inline-block;
    margin: 10px;
}